$primary-bg-color: #f5f6fa;
$header-bg-color: #182C61;
$product-bg-color: #44bd32;
$product-hover-bg-color: #4cd137;
$text-color-white: #fff;
$font-family: 'Roboto', sans-serif;
$container-max-width: 1024px;
$container-padding: 16px 0;
$product-border-radius: 16px;
$product-button-radius: 8px;
$media-max-tablet: 1023px;
$media-max-mobile: 767px;