@use 'config/variables';
@use 'config/reset';
@use 'header';
@use 'menu';
@use 'products';
@use 'media-queries';

body {
    background-color: variables.$primary-bg-color;
}

li {
    list-style: none;
}

.container {
    max-width: variables.$container-max-width;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 56px 0;
}